<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.blogBackEnd.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.ym.blogBackEnd.model.domain.Picture">
            <id property="id" column="id" />
            <result property="pictureUrl" column="pictureUrl" />
            <result property="picturePath" column="picturePath" />
            <result property="pictureUpload" column="pictureUpload" />
            <result property="pictureName" column="pictureName" />
            <result property="pictureIntroduction" column="pictureIntroduction" />
            <result property="pictureCategory" column="pictureCategory" />
            <result property="pictureTags" column="pictureTags" />
            <result property="pictureSize" column="pictureSize" />
            <result property="pictureWidth" column="pictureWidth" />
            <result property="pictureHeight" column="pictureHeight" />
            <result property="pictureScale" column="pictureScale" />
            <result property="pictureFormat" column="pictureFormat" />
            <result property="createUserId" column="createUserId" />
            <result property="usedUserId" column="usedUserId" />
            <result property="reviewUserId" column="reviewUserId" />
            <result property="reviewStatus" column="reviewStatus" />
            <result property="reviewReason" column="reviewReason" />
            <result property="reviewTime" column="reviewTime" />
            <result property="createTime" column="createTime" />
            <result property="editTime" column="editTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,pictureUrl,picturePath,pictureUpload,pictureName,pictureIntroduction,
        pictureCategory,pictureTags,pictureSize,pictureWidth,pictureHeight,
        pictureScale,pictureFormat,createUserId,usedUserId,reviewUserId,
        reviewStatus,reviewReason,reviewTime,createTime,editTime,
        updateTime,isDelete
    </sql>
</mapper>
